<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    <header>
        <!--header Section-->
        <div class="menu">
            <div class="container-fluid">
    		    <div class="navbar-header">
    			    <a href="/">Talentero</a>
    		    </div>
    		    <div>
    			    <ul class="nav navbar-nav navbar-right">
              <% if (isUserLoggedIn) { %>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> <%= currentUserInfo.name %></a></li>
                 <% } else { %>
                   <li><a href="/signup" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                   <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                 <% } %>
    			    </ul>
    		    </div>
    	    </div>
        </div>
    </header>

    <%- body -%>

    <footer>
      <p></p>
    </footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
