<body>
    <!--Video Section-->
    <div class="video-section">
        <video id="video-elem" preload="auto" autoplay="true" loop="loop" poster="/images/talenteroGIF.gif">
            <source src="/images/talentero.mp4" type="video/mp4">
        </video>
        <div class="video-overlay">
            <div class="text">
                <h1>Welcome to Talentero</h1>
            </div>

        </div>
    </div>
</body>
