<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<body>
    <!--Video Section-->
    <div class="video-section">
        <video id="video-elem" preload="auto" autoplay="true" loop="loop" poster="/images/talenteroGIF.gif">
            <source src="/images/talentero.mp4" type="video/mp4">
        </video>
        <div class="video-overlay"></div>
        <div class="overlay-for-text">
                <h1>Welcome to Talentero</h1>
                <h2>Find your Artist here</h2>
        </div>
    </div>
    <!--Content-->
<section>
<div class="padding80 bgcolor3" id="about">
<div class= "container">
    <div class= "row">
        <div class="col-md-6">
            <div class="textbox-component">
        		<img src="https://s-media-cache-ak0.pinimg.com/originals/84/0b/4a/840b4ae249dafa3f0179a0f21f37100e.png" style=" max-height: 350px;" alt=" " class="img-responsive pull-right" >
        	</div>
        </div>
        <div class="col-md-6">
        <div class="divider50"></div>
            <div class="textbox-component">
            <h2>At Talentero</h2>
                    <p>Fusce semper, nibh eu sollicitudin imperdiet, dolor magna vestibulum mi,
        				vel tincidunt augue ipsum nec erat. Vestibulum congue leo elementum
        				ullamcorper commodo. Class aptent taciti sociosqu ad litora torquent
        				per conubia nostra, per inceptos himenaeos.</p>
                    <hr>
        		<button type="button" class="btn btn-warning btn-md">Medium</button>
        	</div>
        </div>
    </div>
</div>
</div>
</section>

<section>
<div class="padding80 bgcolor2" id="about">
<div class= "container">
    <div class= "row">
        <div class="col-md-6">
    	<div class="divider50"></div>
    	    <div class="textbox-component">
            <h2>Why is Talentero for YOU</h2>
              	<p>Fusce semper, nibh eu sollicitudin imperdiet, dolor magna vestibulum mi,
					vel tincidunt augue ipsum nec erat. Vestibulum congue leo elementum
					ullamcorper commodo. Class aptent taciti sociosqu ad litora torquent
					per conubia nostra, per inceptos himenaeos.</p>
                <hr>
			    <button type="button" class="btn btn-warning btn-md">Medium</button>
			</div>
        </div>
        <div class="col-md-6">
            <div class="textbox-component">
		        <img src="https://s-media-cache-ak0.pinimg.com/originals/84/0b/4a/840b4ae249dafa3f0179a0f21f37100e.png" style=" max-height: 350px;" alt=" " class="img-responsive">
	        </div>
        </div>
    </div>
</div>
</div>
</section>

<section>
<div class="padding80 bgcolor1" id="about">
<div class="container">
	<div class="row">
		<div class="col-md-6">
		<div class="divider10"></div>
			<h3>About us</h3>
				<hr>
				<p>Fusce semper, nibh eu sollicitudin imperdiet, dolor magna vestibulum mi,
					vel tincidunt augue ipsum nec erat. Vestibulum congue leo elementum
					ullamcorper commodo. Class aptent taciti sociosqu ad litora torquent
					per conubia nostra, per inceptos himenaeos.</p>
				<hr>
			<button type="button" class="btn btn-warning btn-md">Medium</button>
		</div>
		<div class="col-md-6">
			<img src="https://p.w3layouts.com/demos_new/28-01-2017/inspire-demo_Free/2047128721/web/images/11.jpg" alt=" " class="img-responsive">
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
</div>
</section>

</body>
