<!-- views/index.ejs -->
<p> Welcome to <%= title %>. </p>

<% if (isUserLoggedIn) { %>
  <p> Hello, <%= currentUserInfo.name %>. </p>

<% } %>

<nav>
  <ul>
    <% if (!isUserLoggedIn) { %>
      <button>artist</button>
      <button>contractor</button>
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
      <li><a href="https://api.instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=token">instagram login</a></li>

    <% } else { %>
      <li> <a href="/edit-profile"> Edit Profile </a> </li>
      <li> <a href="/logout"> Log Out </a> </li>
    <% } %>
  </ul>
</nav>
