

<form action="/users/<%= user._id %>/" method="POST">
<script type="text/javascript">


function myFunction() {
    var x = document.getElementById('profile');
    var checkbox = document.querySelector('input[type=checkbox]')
    if (x.style.display === 'block') {
        x.style.display = 'none';
        checkbox.checked = false;
        checkbox.value = false
    } else {
        x.style.display = 'block';
        checkbox.checked = true;
        checkbox.value = true
    }
}

</script>



  <label for="name">Name</label>
  <input type="text" id="" name="name" value="<%= user.name %>">

  <label for="email">email</label>
  <input type="text" id="" name="email" value="<%= user.email %>">
  <label for="adress">adress</label>
  <input type="text" id="" name="adress" value="<%= user.adress %>">
  <label for="mobility">mobility</label>
  <input type="text" id="" name="mobility" value="mobility">
  <input type="checkbox" value="false" name="check" id="artist" onclick="myFunction()">artist?
  <div id="profile">
    <label for="summary">Summary</label>
    <input type="text" id="" name="summary" value="summary">
    <label for="interests">Interests</label>
    <input type="text" id="" name="interests" value="interests">
    <label for="experience">Prior Experience</label>
    <input type="text" id="" name="experience" value="experience">
  </div>

  <button type="submit">Update</button>


</form>
