/* header */
body {
    padding: 0;
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
}
.menu {
background-color: #04A3ED;
width:100%;
height: auto;
padding: 0 10px;
position: relative;
margin: 0px;
z-index: 99999;
}
.logo {
    height: 30px;
    margin-bottom: 7px;
}


.menu  .navbar-nav > .active > a {
background-color : #04A3ED;
color: white;
font-weight: bold;
}

.menu  .navbar-nav >  li >  a {
font-size: 17px;
color: white;
padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover {
    color: #EF6026;
    background-color: #04A3ED;
}

.navbar-header > a {
font-family: helvetica, sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 30px;
padding: 5px 20px;
}
.navbar-header > a:hover {
text-decoration: none;
color: #EF6026;
}

/* -- video section --*/
.video-section {
    position: relative;
    width: 100%;
    max-height: 550px;
    overflow: hidden;
}
#video-elem {
    width: 100%;
    height: auto;
    z-index: -1;
}
video::-webkit-media-controls {
    display: none !important;
}
.video-overlay {
    position: absolute;
    background-image: url(../images/grey.png);
    background-repeat: repeat;
    opacity: 0.2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: #04A3ED;
}

.overlay-for-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 1;
    text-align: center;
}

.overlay-for-text h1 {
    font-size: 5vw;
    margin-top: 150px;
    color: #fff;
}
.overlay-for-text h2 {
    font-size: 3vw;
    color: #fff;
}

/* --- sign up ---- */

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
}
/* --- check button --- */

.onoffswitch {
    position: relative; width: 180px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #C4E17F; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Artist";
    padding-left: 10px;
    background-color: #04A3ED; color: #fff;
}
.onoffswitch-inner:after {
    content: "Looking for One";
    padding-right: 10px;
    background-color: #4EA64E; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #C4E17F; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 150px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* --- CONTENT ----*/

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;
}
.container {
    clear: both;
    margin-top: 40px;
}
h4 {
    margin-left: 10px;
}
.bs-callout p {
    margin-left: 10px;
}

/* --- profile --- */

/****** Searchable container */

.title{
 margin-left:20px
}

.fa-user{
 font-size:80px
}

.searchable-container{
    margin-top:40px;
}

.glyphicon-lg{
    font-size:4em
}
.info-block{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box {
    width:120px;
    min-height:120px;
    margin-right:22px;
    text-align:center!important;
    background-color:#676767;
    padding:20px 0
}
.info-block:hover .info-block.block-info {
    border-color:#20819e
}

.info-block.block-info .square-box {
    background-color:#5bc0de;
    color:#FFF
}
#sumary-field {
    width: 800px;
    height: 200px;
    text-align: left;
}

/* --- pic input section ---*/
.pic-form {
    text-align: center;
}
.pics {
    border: 1px solid black;
    height: 600px;
    margin-top: 50px;
}
.user-pics {
    width: 120px;
    height: 120px;
}
.user-pics img{
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 120px;
}
.pic-input-button {
    padding: 5px 80px;
    margin: 5px 0;
    border-radius: 4px;
}
.pic-input-button:hover {
    background-color: #337AB7;
    border: 0;
    color: #fff;
}
.choose-file {
}
#profile {
  display: none;
}
